* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Start of skills.html */

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/about.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.17);
  padding-bottom: 120px;
}

.aboutmeinfo  p {
  font-size: 1.4vmax;
}

img {
  padding-left: 1.5rem;
  padding-top: 2rem;
  height: 450px;
  width: auto;
  animation: gradpic 2s;
}

.educ {
  visibility: hidden;
}

.aboutme {
  padding-top: 2rem;
  animation: gradpic 2s;
}

@keyframes gradpic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.row1 {
  color: white;
  font-family: Fira Code;
}


.row3 {
  text-align: center;
  color: whitesmoke;
  font-family: Fira Code;
  line-height: 1rem;
  
}

.row3 > div > a {
  justify-content: center;
  color: white;
  font-size: 2vmax;
  text-align: center;
}

.row3 > div > a:hover {
  text-decoration: none;
  color: lightskyblue;
}

hr.newhr {
  border-top: 1px solid white;
  padding-bottom: 3.125rem;
  width: 95vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav_link {
  padding-bottom: 1.5rem;
}

.nav_link > a{
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav_link .current {
  color: lightskyblue;
}



@media (max-width: 480px) {

  .row3 > div > a {
    position: relative;
    display: inline-block;
    line-height: 2rem;
  }

  hr.newhr {
    padding-bottom: 4.5rem;
  }

.aboutmeinfo  p {
  font-size: 2vmax;
}


  
}


@media (max-width: 480px) {

  img {
      padding-left: 0;

  }

  .aboutmeinfo  p {
  font-size: 2vmax;
}
  
}


/* End of skills.html */
