* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Start of skills.html */

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/uc.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.17);
  padding-bottom: 120px;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
}



.row1 {
  color: white;
  font-family: Fira Code;
}


.row3 {
  text-align: center;
  color: whitesmoke;
  font-family: Fira Code;
  line-height: 1rem;
}


.row3 > div > a {
  justify-content: center;
  color: white;
  font-size: 2vmax;
  text-align: center;
}

hr.newhr {
  border-top: 1px solid white;
  padding-bottom: 3.125rem;
  width: 95vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.nav_link {
  padding-bottom: 1.5rem;
}

.nav_link > a {
  padding-right: 1rem;
  padding-left: 1rem;
}

.row3 > div > a:hover {
  text-decoration: none;
  color: lightskyblue;
}

ul {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  animation: sociallinks 2s;
}

@keyframes sociallinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul li {
  position: relative;
  list-style-type: none;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 35px;
  margin: 0 15px;
  line-height: 55px;
  background-color: #171515;
  cursor: pointer;
}

ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.3s;
}

ul li:nth-child(1)::before {
  background: #4267b2;
}
ul li:nth-child(2)::before {
  background: #00acee;
}
ul li:nth-child(3)::before {
  background: #e1306c;
}
ul li:nth-child(4)::before {
  background: #0e76a8;
}
ul li:nth-child(5)::before {
  background: #fc6d27;
}
ul li:nth-child(6)::before {
  background: #d3d3d3;
}

ul li:hover::before {
  filter: blur(3px);
  transform: scale(1.2);
}
ul li:nth-child(1):hover::before {
  box-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover::before {
  box-shadow: 0 0 15px #00acee;
}
ul li:nth-child(3):hover::before {
  box-shadow: 0 0 15px #e1306c;
}
ul li:nth-child(4):hover::before {
  box-shadow: 0 0 15px #0e76a8;
}
ul li:nth-child(5):hover::before {
  box-shadow: 0 0 15px #fc6d27;
}

ul li:nth-child(6):hover::before {
  box-shadow: 0 0 15px #d3d3d3;
}

ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover {
  color: #00acee;
  box-shadow: 0 0 15px #00acee;
  text-shadow: 0 0 15px #00acee;
}
ul li:nth-child(3):hover {
  color: #e1306c;
  box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}
ul li:nth-child(4):hover {
  color: #0e76a8;
  box-shadow: 0 0 15px #0e76a8;
  text-shadow: 0 0 15px #0e76a8;
}
ul li:nth-child(5):hover {
  color: #fc6d27;
  box-shadow: 0 0 15px #fc6d27;
  text-shadow: 0 0 15px #fc6d27;
}

ul li:nth-child(6):hover {
  color: #d3d3d3;
  box-shadow: 0 0 15px #d3d3d3;
  text-shadow: 0 0 15px #d3d3d3;
}

.fab {
  color: #666;
  border-radius: 50%;
  outline-color: white;
}

.nav_link .current {
  color: lightskyblue;
}


@media (max-width: 480px) {

  ul li {
      margin: auto;


  }


  
}

/* End of skills.html */
