* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Start of skills.html */

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/skills.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.17);
  padding-bottom: 120px;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
}

.row1 {
  animation: iconappear 2s;
}



@keyframes iconappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icons {
  display: inline-flex;
  margin: 0 auto;
  width: 50%;
  padding-left: 30%;

}


.icons .a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  cursor: pointer;
}


.icons .a .layer {
  width: 11.32vmax; /* To change the icon's borders width*/
  height: 11.32vmax; /* To change the icon's borders height*/
  transition: transform 0.3s;
}


.icons .a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons .a:active .layer {
  transform: rotate(-35deg) skew(20deg);
}


.icons .a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.icons .a .layer span.fab {
  font-size: 11.32vmax; /* To change the icon's size*/
  line-height: 11.32vmax;
  text-align: center;
  border-width: 2.5px;
}

/* START - Layers opacity and animation */

.icons .a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}
.icons .a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icons .a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.icons .a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icons .a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

/* END - Layers opacity and animation */


/* START - Icon, texts, and borders color */

.icons .html_5 .a:nth-child(1) .layer span,
.icons .html_5 .a:nth-child(1) .text {
  color: #e34c26;
  border-color: #e34c26;
}
.icons .css_3 .a:nth-child(1) .layer span,
.icons .css_3 .a:nth-child(1) .text {
  color: #264de4;
  border-color: #264de4;
}
.icons .bootstrap_4 .a:nth-child(1) .layer span,
.icons .bootstrap_4 .a:nth-child(1) .text {
  color: #563d7c;
  border-color: #563d7c;
}

/* END - Icon and borders color */




/* START - Box shadows of span under the icon */

.icons .a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #4267b2;
}
.icons .a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #1da1f2;
}
.icons .a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #e1306c;
}
.icons .a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867b2;
}
.icons .a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #ff0000;
}

/* END - Box shadows of span under the icon */

.icons .a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: bolder;
  font-size: 2.7vmax;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons .a:hover .text {
  bottom: -60px; /*Text distance from the icon's border*/
  opacity: 1;
}

.icons .a .text2 {
  position: absolute;
  display: block;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-size: 1.3vmax;
  font-family: Fira Code;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}
.icons .a:hover .text2 {
  bottom: -160px; /*Text distance from the icon's border*/
  opacity: 1;
}


.row3 {
  text-align: center;
  color: whitesmoke;
  font-family: Fira Code;
  line-height: 1rem;
}


.row3 > div > a {
  justify-content: center;
  color: white;
  font-size: 2vmax;
  text-align: center;
}

hr.newhr {
  border-top: 1px solid white;
  padding-bottom: 3.125rem;
  width: 95vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.nav_link {
  padding-bottom: 1.5rem;
}

.nav_link > a{
  padding-right: 1rem;
  padding-left: 1rem;
}

.row3 > div > a:hover {
  text-decoration: none;
  color: lightskyblue;

.nav_link .current {
  color: lightskyblue;
}



@media (max-width: 480px) {

 .icons .a .layer span.fab {
  font-size: 50px; /* To change the icon's size*/
  line-height: 50px;
  text-align: center;
  border-width: 2.5px;
}

.icons .a:hover .text {
  right: -60px; /*Text distance from the icon's border*/
  opacity: 1;
}

.icons .a:hover .text2 {
  right: -160px; /*Text distance from the icon's border*/
  opacity: 1;
}

  
}





/* End of skills.html */
