* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* START of index.html */

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/bg.index.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.17);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


img {
  border-radius: 50%;
  animation: cute 1.5s;
}

@keyframes cute {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


.row1 {
  text-align: center;
}

.row2 {
  font-size: 1rem;
  text-align: center;
  font-family: Fira Code;
  margin: 0 auto;
}

.row2 h1 {
  color: #ce9b69;
  text-align: center;
  font-family: Fira Code;
  font-size: 5vmax;
}

.row2 ol li {
  display: inline-block;
  list-style-type: none;
  color: #ce9b69;
  font-size: 1.7vmax;
  text-align: center;
  font-family: Fira Code;
  line-height: 3rem;
  padding-bottom: 5rem
}

.row2 {
  animation: introduction 1.5s ease-in-out;
}

@keyframes introduction {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row3 {
  text-align: center;
  color: whitesmoke;
  font-family: Fira Code;
  line-height: 1rem;
  animation: popout 2s;
  
}

@keyframes popout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row3 > div > a {
  justify-content: center;
  color: white;
  font-size: 2vmax;
  text-align: center;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
}

.row3 > div > a:hover {
  text-decoration: none;
  color: lightskyblue;
}

ul {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

ul li {
  position: relative;
  list-style-type: none;
  display: block;
  height: 50px; /*height of icon border*/
  width: 50px; /*width of icon border*/
  border-radius: 50%; 
  font-size: 35px; /*size of icon*/
  margin: 0 15px;
  line-height: 55px;
  background-color: #171515;
  cursor: pointer;
}

ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.3s;
  transition-duration: 1s;
}

ul li:nth-child(1)::before {
  background: #4267b2;
}
ul li:nth-child(2)::before {
  background: #00acee;
}
ul li:nth-child(3)::before {
  background: #e1306c;
}
ul li:nth-child(4)::before {
  background: #0e76a8;
}
ul li:nth-child(5)::before {
  background: #fc6d27;
}
ul li:nth-child(6)::before {
  background: #d3d3d3;
}


/* START - effects for hover only */

ul li:hover::before {
  filter: blur(3px);
  transform: scale(1.2);
}
ul li:nth-child(1):hover::before {
  box-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover::before {
  box-shadow: 0 0 15px #00acee;
}
ul li:nth-child(3):hover::before {
  box-shadow: 0 0 15px #e1306c;
}
ul li:nth-child(4):hover::before {
  box-shadow: 0 0 15px #0e76a8;
}
ul li:nth-child(5):hover::before {
  box-shadow: 0 0 15px #fc6d27;
}

ul li:nth-child(6):hover::before {
  box-shadow: 0 0 15px #d3d3d3;
}

ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover {
  color: #00acee;
  box-shadow: 0 0 15px #00acee;
  text-shadow: 0 0 15px #00acee;
}
ul li:nth-child(3):hover {
  color: #e1306c;
  box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}
ul li:nth-child(4):hover {
  color: #0e76a8;
  box-shadow: 0 0 15px #0e76a8;
  text-shadow: 0 0 15px #0e76a8;
}
ul li:nth-child(5):hover {
  color: #fc6d27;
  box-shadow: 0 0 15px #fc6d27;
  text-shadow: 0 0 15px #fc6d27;
}

ul li:nth-child(6):hover {
  color: #d3d3d3;
  box-shadow: 0 0 15px #d3d3d3;
  text-shadow: 0 0 15px #d3d3d3;
}

/* END - effects for hover only */


.fab {
  color: #666;
  border-radius: 50%;
  outline-color: white;
}

hr.newhr {
  border-top: 1px solid white;
  padding-bottom: 3.125rem;
  width: 95vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav_link {
  padding-bottom: 1.5rem;
  margin-top: auto;
}

.nav_link > a{
  padding-right: 1rem;
  padding-left: 1rem;

}

.nav_link .current {
  color: lightskyblue;
}


@media (max-width: 480px) {

  ul li {
      margin: auto;


  }


  
}


/*1rem = 16px*/

/* Small devices (landscape phones, 544px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Extra large devices (large desktops, 1200px and up) */
/* Large devices (desktops, 992px and up) */

/* @media (min-width: 544px) {  
  h1 {font-size:1.5rem;} 
}
 

@media (min-width: 768px) {  
  h1 {font-size:2rem;}
}
 

@media (min-width: 992px) { 
  h1 {font-size:2.5rem;}
}
 

@media (min-width: 1200px) {  
  h1 {font-size:3rem;} 
} */


/* Another approach would be to calculate the font size based on the viewport height and width.
As the viewport gets smaller, the font-size will get smaller. This is not the default behavior in Bootstrap 4 because font sizes are relative to the body font size of 16px. 
So you will need to use a custom class .text-responsive to add this new functionality. */

/* .text-responsive {
  font-size: calc(100% + 1vw + 1vh);
} */

/* 1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger */



/* End of index.hhtml */
